.button {
  width: 490px;
  height: 56px;
  border-radius: 12px;
  padding-top: 12px;
  padding-left: 24px;
  padding-bottom: 12px;
  padding-right: 24px;
  background-color: #003890;
  color: white;
  border-color: #003890;
}


